$btnBg: #000000;
$btnColor: #ffffff;

.AboutShort{
  margin-top: 200px;
  margin-bottom: 120px;
  .AboutShortBox{
    @media(max-width: 768px){
      flex-direction: column-reverse;
    }
  }
  .Container{
    padding-bottom: 100px;
    .LeftColumn{
      padding-right: 100px;
      padding-bottom: 60px;
      @media(max-width: 768px){
        padding-right: 0;
      }
    }
    .RightColumn{
      @media(max-width: 768px){
        margin-bottom: 60px;
      }
      .Advantages{
        display: flex;
        flex-direction: column;
        .Item{
          margin: 20px;
        }
      }
    }
    .Text{
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #8B8B8B;
      padding-bottom: 20px;
    }
    .Number1{
      position: relative;
      padding-left: 70px;
      &:before{
        content: '01';
        width: 90px;
        height: 50px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;
        color: #393939;
        border: 1px solid #E9E9E9;
        position: absolute;
        left: -20px;
        top: 10px;
        transform: rotate(-90deg);
      }
    }
    .Number2 {
      position: relative;
      padding-left: 70px;
      &:before {
        content: '02';
        width: 90px;
        height: 50px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;
        color: #393939;
        border: 1px solid #E9E9E9;
        position: absolute;
        left: -20px;
        top: 20px;
        transform: rotate(-90deg);
      }
    }
  }
  .AboutShortBtn{
    display: flex;
    justify-content: flex-start;
    @media(max-width: 768px){
      justify-content: center;
    }
  }
  .AboutShortButton{
    @media(max-width: 768px){
      width: 100%;
    }
  }
}