$btnBg: #000000;
$btnColor: #ffffff;

.SiteCreatingList{
  margin-top: 120px;
  margin-bottom: 220px;
  @media(max-width: 768px) {
    margin-bottom: 120px;
    margin-top: 60px;
  }
  .Container{

  }
  .Headding{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 52px;
    color: #393939;
    margin-bottom: 120px;
    @media(max-width: 768px) {
      font-size: 28px;
      line-height: 120%;
      margin-bottom: 60px;
    }
  }
  .CardsBox{
    .CardBox:nth-child(3n-2){
      .Card{
        padding-left: 0;
      }
    }
    .CardBox:nth-child(3n){
      .Card{
        padding-right: 0;
      }
    }
  }
  .Cards{
    margin-bottom: 120px;

  }
  .CardBox{

  }
  .Card{
    padding: 0 50px 60px;
    transition: all .5s;
    @media(max-width: 768px) {
      padding: 20px 0;
    }
  }
  .CardName{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #393939;
    position: relative;
    height: 72px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-right: 20px;
    text-decoration: none;
    transition: all .4s ease;
    @media(max-width: 768px) {
      font-size: 22px;
      line-height: 140%;
      padding-right: 40px;
      margin-bottom: 10px;
    }
    &:after{
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      display: inline-block;
      border-top: 2px solid #393939;
      border-right: 2px solid #393939;
      right: 10px;
      transform: rotate(45deg);
      top: calc(50% - 6px);
      transition: all .4s ease;
    }
    &:hover{
      color: #0df0ff;
      &:after{
        border-top: 2px solid #0df0ff;
        border-right: 2px solid #0df0ff;
      }
    }
  }
  .CardText{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #8B8B8B;
    margin-bottom: 20px;
    @media(max-width: 768px) {
      padding-right: 20px;
    }
  }
  .CardLink{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #292525;
    text-decoration: none;
  }
}

