.JoinUs{
  margin-bottom: 300px;
  @media(max-width: 768px){
    margin-bottom: 200px;
  }
  .Container{

  }
  .JoinUsBtn{
    @media(max-width: 768px){
      width: 100%;
      margin-top: 60px;
    }
  }
  .Headding{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 52px;
    color: #393939;
    margin-bottom: 45px;
    @media(max-width: 768px) {
      font-size: 28px;
      line-height: 120%;
      margin-bottom: 40px;
    }
  }
  .Description{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #8B8B8B;
    margin-bottom: 90px;
    max-width: 550px;
    @media(max-width: 768px){
      margin-bottom: 40px;
    }
  }
  .Vacancies{

  }
  .Vacancy{
    border: 2px solid #E9E9E9;
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;
    margin-bottom: 40px;
    text-decoration: none;
    transition: all .5s;
    @media(max-width: 768px){
      padding: 15px 20px;
      margin-bottom: 20px;
    }
    &:last-child{
      margin-bottom: 0;
    }
    &:hover{
      border-color: transparent;
      transform: translateY(-5px);
      box-shadow: 5px 20px 30px rgba(128, 128, 128, 0.15);
    }
    .Title{
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 31px;
      color: #292525;
      @media(max-width: 768px){
        font-size: 16px;
        line-height: 140%;
      }
    }
    .CityTime{
      font-family: Ubuntu;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 28px;
      color: #D5D5D5;
      position: relative;
      @media(max-width: 768px){
        font-size: 14px;
        line-height: 140%;
      }
      &:after{
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        border-top: 2px solid #D5D5D5;
        border-right: 2px solid #D5D5D5;
        transform: rotate(45deg);
        margin-left: 35px;
        @media(max-width: 768px){
          width: 8px;
          height: 8px;
          margin-left: 10px;
        }
      }
    }
  }
}