$btnBg: #000000;
$btnColor: #ffffff;

.ServiceListFull{
  margin-top: 120px;
  margin-bottom: 120px;
  .Cards{
    margin-bottom: 120px;
  }
  .CardBox{

  }
  .Card{
    padding: 30px;
    transition: all .5s;
    &:hover{

    }
    @media(max-width: 768px){
      padding: 15px 10px;
      margin-left: -10px;
      margin-right: -10px;
      margin-bottom: 45px;
    }
  }
  .CardName{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #393939;
    position: relative;
    height: 72px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    text-decoration: none;
    padding-right: 35px;
    transition: all .5s ease;
    @media(max-width: 768px){
      font-size: 22px;
      line-height: 140%;
    }
    &:after{
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      display: inline-block;
      border-top: 2px solid black;
      border-right: 2px solid black;
      right: 15px;
      transition: all .5s ease;
      transform: rotate(45deg);
      top: calc(50% - 6px);
      @media(max-width: 768px){
        right: 20px;
      }
    }
    &:hover{
     transform: scale(1.05);
      color: #0df0ff;
      &:after{
        border-color: #0df0ff;
        transform: rotateY(180deg) rotateZ(45deg);
      }
    }
  }
  .CardText{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #8B8B8B;
    margin-bottom: 20px;
    min-height: 65px;
  }
  .CardLink{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #292525;
    text-decoration: none;
  }
  .SubCategoriesLinks{
    margin-top: 30px;
  }
  .SubCategoriesItem{
    padding-top: 5px;
    padding-bottom: 15px;
  }
  .SubCategoriesLink{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #393939;
    text-decoration: none;
    transition: all .4s ease;
    padding-top: 5px;
    padding-bottom: 15px;
    &:hover{
      color: #0DF0FF;
    }
  }
}

