.QaTypes{
  margin-bottom: 220px;
  @media(max-width: 768px) {
    margin-bottom: 50px;
  }
  .Container{
    counter-reset: number2;
  }
  .Headding{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 52px;
    color: #393939;
    margin-bottom: 80px;
    @media(max-width: 768px){
      font-size: 28px;
      line-height: 120%;
    }
  }
  .SubHeadding{
    margin-bottom: 60px;
  }
  .Cards{
    margin-bottom: 150px;
    @media(max-width: 768px) {
      margin-bottom: 0;
    }
    .Card:nth-child(2n-1){
      padding-left: 0;
      @media(max-width: 768px) {
        padding-left: 0;
        padding-right: 16px;
      }
    }
    .Card:nth-child(2n){
      padding-right: 0;
      @media(max-width: 768px) {
        padding-left: 0;
        padding-right: 16px;
      }
    }
  }
  .Card{
    padding: 30px 70px 70px;
    position: relative;
    transition: all .4s ease;
    &:hover{
      .Title{
        &:after{
          color: #0DF0FF;
        }
      }
    }
  }
  .Title{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    color: #292525;
    margin-bottom: 40px;
    padding-right: 30px;
    transition: all .4s ease;
    &:after{
      counter-increment: number2;
      content: '0' counter(number2);
      display: block;
      position: absolute;
      right: 70px;
      top: 30px;
      font-family: Ubuntu;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 140%;
      color: #DADADA;
      transform: rotate(-90deg);
      transition: all .4s ease;
      @media(max-width: 768px) {
        right: 16px;
      }
    }
  }
  .Text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #8B8B8B;
    margin-bottom: 20px;
  }
}