.QaTypes{
  margin-bottom: 220px;
  .Container{
    counter-reset: number2;
  }
  .Headding{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 52px;
    color: #393939;
    margin-bottom: 80px;
  }
  .SubHeadding{
    margin-bottom: 60px;
  }
  .Cards{
    margin-bottom: 150px;
  }
  .Card{
    padding: 70px;
    position: relative;
    transition: all .5s ease;
    &:hover{
      transform: translateY(-5px);
      box-shadow: 5px 20px 30px rgba(128, 128, 128, 0.15);
      .Title{
        &:after{
          color: #0DF0FF;
        }
      }
    }
  }
  .Title{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    color: #292525;
    margin-bottom: 40px;
    &:after{
      counter-increment: number2;
      content: '0' counter(number2);
      display: block;
      position: absolute;
      right: 70px;
      top: 70px;
      font-family: Ubuntu;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 140%;
      color: #DADADA;
      transform: rotate(-90deg);
      transition: all .4s ease;
    }
  }
  .Text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #8B8B8B;
    margin-bottom: 20px;
  }
  .ActionText{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    color: #292525;
  }
}