.FabComponent{
  z-index: -1;
  .SpeedDialFab{
    background-color: #000!important;
    box-shadow: 0px 0px 7px -1px rgba(255,255,255,0.4), 0px 0px 12px 0px rgba(255,255,255,0.24), 0px 0px 20px 0px rgba(255,255,255,0.22)!important;
  }
  .SpeedDialActions{
    margin-bottom: -56px!important;
    padding-bottom: 66px!important;
    width: 100px!important;
    flex-direction: column!important;
    align-items: center!important;
  }
  .Telegram{
    background-color: #4186C7!important;
  }
  .Viber{
    background-color: #7751F7!important;
  }
  .Messenger{
    background-color: #3987FB!important;
  }
  .Telephone{
    background-color: #0df0ff!important;
    right: 70px;
    top: 262px;
  }
}