.Navigation {
  background: url("../../assets/img/menu-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
}
.MenuList{
  background: transparent;
  border: none;
}
.LinksTop{
  justify-content: space-between;
  .MobileSocialGrid{
    max-width: 50%;
    position: absolute;
    margin-bottom: 0;
    bottom: 30px;
    right: 40px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    @media(max-width: 768px){
      max-width: calc(100% - 32px);
      justify-content: center;
      align-items: center;
      bottom: 10vh;
      right: 16px;
    }
  }
  .MobileSocialLink{
    margin-left: 20px;
    @media(max-width: 768px){
      margin-bottom: 0;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
.MenuLinks{
  &:nth-child(5){
    @media(max-width: 768px){
      margin-bottom: 0;
    }
  }
}
.Link {
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  display: inline-flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  @media(max-width: 768px){
    padding: 0;
    margin-top: 0;
  }
  span {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    background: transparent;
    position: relative;
    transition: all .4s ease;
    &:before{
      content: '';
      display: block;
      width: 0%;
      height: 100%;
      background: #4C1C89;
      position: absolute;
      z-index: -1;
      margin-left: -45px;
      transition: all .4s ease;
    }
    &:hover{
      transform: scale3d(1.05,1.05,1.05);
      &:before{
        width: 100%;
        padding: 15px 45px 15px 45px;
      }
    }
  }
  &:hover,&:active{
    color: #0DF0FF;
  }
}
.InfoLinks{
  @media(max-width: 768px){
    font-size: 20px;
    line-height: 140%;
    color: #E9E9E9;
    margin-bottom: 10px;
  }
}
.opened{
  display: flex;
}
.closed{
  display: none;
}
.Link.active{
  padding: 20px 25px;
  color: #0DF0FF;
  z-index: 2;
  @media(max-width: 768px){
    padding: 0;
  }
}
