.Navigation {
  background: url("../../assets/img/menu-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.MenuList{
  background: transparent;
  border: none;
}
.LinksTop{
  justify-content: space-between;
  .MobileSocialGrid{
    max-width: 50%;
    position: absolute;
    margin-bottom: 0;
    bottom: 30px;
    right: 40px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    @media(max-width: 768px){
      max-width: calc(100% - 32px);
      //flex-direction: column;
      justify-content: center;
      align-items: center;
      bottom: 10vh;
      right: 16px;
    }
  }
  .MobileSocialLink{
    margin-left: 20px;
    @media(max-width: 768px){
      margin-bottom: 0;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
.MenuLinks{
  &:nth-child(5){
    margin-bottom: 40px;
    @media(max-width: 768px){
      margin-bottom: 0;
    }
  }
}
.Link {
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  display: inline-flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  @media(max-width: 768px){
    padding: 0;
    margin-top: 0;
  }
  span {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    background: transparent;
  }
  &:hover,&:active{
    color: #0DF0FF;
  }
  //&.active{
  //  color: #0DF0FF;
  //}
}
.InfoLinks{
  @media(max-width: 768px){
    font-size: 20px;
    line-height: 140%;
    color: #E9E9E9;
    margin-bottom: 10px;
  }
}

.opened{
  display: flex;
}
.closed{
  display: none;
}
.Link.active{
  padding: 20px 25px;
  color: #0DF0FF;
  z-index: 2;
  @media(max-width: 768px){
    padding: 0;
  }
  span{
    &:before{
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border-right: 2px solid #0DF0FF;
      border-top: 2px solid #0DF0FF;
      transition: all .4s ease;
      z-index: -1;
      @media(max-width: 768px){
        display: none;
      }
    }
    &:after{
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 20px;
      height: 20px;
      border-right: 2px solid #0DF0FF;
      border-bottom: 2px solid #0DF0FF;
      transition: all .4s ease;
      z-index: -1;
      @media(max-width: 768px){
        display: none;
      }
    }
    &:hover{
      &:before{
        width: 100%;
        height: 100%;
        transition: all .4s ease;
      }
      &:after{
        width: 100%;
        height: 100%;
        transition: all .4s ease;
      }
    }
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-left: 2px solid #0DF0FF;
    border-top: 2px solid #0DF0FF;
    z-index: -1;
    @media(max-width: 768px){
      display: none;
    }
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    border-left: 2px solid #0DF0FF;
    border-bottom: 2px solid #0DF0FF;
    transition: all .4s ease;
    z-index: -1;
    @media(max-width: 768px){
      display: none;
    }
  }
  &:hover{
    &:before{
      width: 100%;
      height: 100%;
      transition: all .4s ease;
    }
    &:after{
      width: 100%;
      height: 100%;
      transition: all .4s ease;
    }
  }
}


//.Navigation {
//  background: url("../../assets/img/menu-bg.jpg");
//  background-repeat: no-repeat;
//  background-size: 100% 100%;
//}
//.MenuList{
//  background: transparent;
//  border: none;
//}
//.LinksTop{
//  min-height: 415px;
//  .LinkItem{
//    display: flex;
//    align-items: baseline;
//  }
//}
//.LinksBottom{
//  .Link{
//    font-style: normal;
//    font-weight: bold;
//    font-size: 24px;
//    line-height: 34px;
//    color: #E9E9E9;
//  }
//}
//.LinksChildren{
//  .Link{
//    font-style: normal;
//    font-weight: normal;
//    font-size: 20px;
//    line-height: 28px;
//    color: #ffffff;
//  }
//}
//.Link {
//  color: #ffffff;
//  text-decoration: none;
//  font-style: normal;
//  font-weight: bold;
//  font-size: 30px;
//  line-height: 36px;
//  &:hover,&:active{
//    color: #0DF0FF;
//  }
//  &.active,&.active + .ButtonPlus{
//    color: #0DF0FF;
//  }
//}
//.ButtonPlus{
//  font-style: normal;
//  font-weight: bold;
//  font-size: 30px;
//  line-height: 30px;
//  color: #FFFFFF;
//  background: transparent;
//  border: none;
//  margin-left: 10px;
//}
//
//.opened{
//  display: flex;
//}
//.closed{
//  display: none;
//}
