.Navigation {
  background: url("../../assets/img/menu-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.MenuList{
  background: transparent;
  border: none;
}
.LinksTop{
  min-height: 415px;
  .LinkItem{
    display: flex;
    align-items: baseline;
  }
}
.LinksBottom{
  .Link{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    color: #E9E9E9;
  }
}
.LinksChildren{
  .Link{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
  }
}
.Link {
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  &:hover,&:active{
    color: #0DF0FF;
  }
  &.active,&.active + .ButtonPlus{
    color: #0DF0FF;
  }
}
.ButtonPlus{
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
  background: transparent;
  border: none;
  margin-left: 10px;
}

.opened{
  display: flex;
}
.closed{
  display: none;
}
