$btnBg: #000000;
$btnColor: #ffffff;

.ServiceListSort{
  margin-bottom: 120px;
  .Headding{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 52px;
    color: #393939;
    margin-bottom: 120px;
    @media(max-width: 768px){
      font-size: 28px;
      line-height: 120%;
    }
  }
  .Cards{
    margin-bottom: 120px;
  }
  .CardBox{

  }
  .Card{
    padding: 80px;
    transition: all .5s;
    @media(max-width: 768px){
      padding: 0;
      margin-bottom: 60px;
    }
    &:hover{
      border-color: transparent;
      transform: translateY(-5px);
      box-shadow: 5px 20px 30px rgba(128, 128, 128, 0.15);
      //box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
  }
  .CardName{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #393939;
    position: relative;
    height: 72px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    text-decoration: none;
    @media(max-width: 768px){
      padding-right: 20px;
      font-size: 22px;
      line-height: 140%;
    }
    &:after{
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      display: inline-block;
      border-top: 2px solid black;
      border-right: 2px solid black;
      right: 0;
      transform: rotate(45deg);
      top: calc(50% - 6px);
      @media(max-width: 768px){
        right: 20px;
      }
    }
  }
  .CardText{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #8B8B8B;
    margin-bottom: 20px;
  }
  .CardLink{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #292525;
    text-decoration: none;

    &:after{
      content: '+';
      color: #D5D5D5;
      font-size: 18px;
      font-weight: bold;
      margin-left: 10px;
    }
  }
  .ServiceListBtn{
    display: flex;
    justify-content: center;
  }
}

