.PortfolioShort{
  margin-bottom: 200px;
  @media(max-width: 768px){
    margin-bottom: 100px;
  }
  .Headding{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 52px;
    color: #393939;
    margin-bottom: 120px;
    @media(max-width: 768px){
      font-size: 28px;
      line-height: 120%;
      margin-bottom: 50px;
    }
  }
  .DescriptionBlock{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 80px;
    @media(max-width: 768px){
      margin-bottom: 40px;
    }
  }
  .Description{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #8B8B8B;
    max-width: 50%;
    @media(max-width: 768px){
      max-width: 100%;
    }
  }
  .PricesButton{
    display: flex;
    @media(max-width: 768px){
      display: none;
    }
  }
  .PortfolioShortButton{
    @media(max-width: 768px){
      width: 100%;
      margin-top: 60px;
    }
  }
  .ProjectsGrid{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    @media(max-width: 768px){
      margin-bottom: 60px;
    }
  }
  .gridContainer {
    display: grid;
    grid-template-areas: "gridItem1 gridItem2"
                       "gridItem1 gridItem3";
    grid-template-rows: 260px 260px;
    grid-template-columns: 480px 480px;
    grid-gap: 50px;
    @media(max-width: 768px) {
      grid-template-areas: "gridItem1" "gridItem1" "gridItem2"
      "gridItem3";
      grid-template-rows: 220px 220px 220px 220px;
      grid-template-columns: 4fr;
      grid-gap: 30px;
      & .gridItem:first-child{
        & .HoveredBlock{
          justify-content: flex-start;
        }
      }
    }
  }
  .gridItem{
    position: relative;
    overflow: hidden;
    transition: all .5s;
    &:hover{
      transition: all .5s;
      border-color: transparent;
      transform: translateY(-5px);
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      .HoveredBlock{
        opacity: .9;
        transition: all .5s;
        .HoveredArrow{
          transition: all .7s;
          transform: rotateY(0);
          transform-origin: 0 100%;
        }
      }

      .gridImg{
        transition: all .5s;
        transform: scale(1.2);
      }
    }
    .gridImg{
      transition: all .5s;
    }
    .HoveredBlock{
      background: #292525;
      backdrop-filter: blur(2px);
      position: absolute;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      z-index: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 20%;
      transition: all .5s;
      opacity: 0;
      @media(max-width: 768px) {
        opacity: 1;
        background: transparent;
        justify-content: flex-end;
        padding: 20px;
      }
      a{
        text-decoration: none;
      }
      .HoveredTitle{
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        color: #FFFFFF;
        margin-bottom: 5px;
        @media(max-width: 768px){
          font-size: 24px;
          line-height: 140%;
        }
      }
      .HoveredType{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        opacity: 0.6;
        margin-bottom: 40px;
        @media(max-width: 768px){
          margin-bottom: 0;
          font-size: 14px;
          line-height: 140%;
        }
      }
      .HoveredArrow{
        width: 85%;
        height: 1px;
        background: #FFFFFF;
        position: relative;
        transition: all .5s;
        transform: rotateY(-90deg);
        transform-origin: 0 100%;
        &:before{
          content: '';
          display: block;
          position: absolute;
          width: 10px;
          height: 10px;
          border-top: 1px solid #FFFFFF;
          border-right: 1px solid #FFFFFF;
          transform: rotate(45deg);
          right: 0;
          top: -5px;
        }
        &:after{
          content: '';
          display: block;
          position: absolute;
          width: 44px;
          height: 44px;
          border: 1px solid #0DF0FF;
          border-radius: 50%;
          right: -20px;
          top: -23px;
        }
      }
    }
  }
  .gridItem1 {
    grid-area: gridItem1;
  }
  .gridItem2 {
    grid-area: gridItem2;
  }
  .gridItem3 {
    grid-area: gridItem3;
  }

  .PortfolioShortBtn{
    display: flex;
    justify-content: center;
  }
}