.FineQuality{
  margin-bottom: 220px;
  @media(max-width: 768px){
    margin-bottom: 120px;
  }
  .Headding{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 52px;
    color: #393939;
    margin-bottom: 120px;
    @media(max-width: 768px){
      font-size: 28px;
      line-height: 120%;
      margin-bottom: 60px;
    }
  }
  .Advantages{
    counter-reset: numbers;
    .Item{
      padding: 20px;
      margin-bottom: 60px;
      @media(max-width: 768px){
        padding: 0 10px 20px 0;
        margin-bottom: 20px;
        min-height: 86px;
      }
    }
  }
  .Text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #8B8B8B;
    padding-bottom: 20px;
  }
  .Numbers{
    position: relative;
    padding-left: 70px;

    &:before{
      counter-increment: numbers;
      content: '0' counter(numbers) '+';
      width: 90px;
      height: 50px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-family: Ubuntu;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 30px;
      color: #393939;
      border: 1px solid #E9E9E9;
      position: absolute;
      left: -20px;
      top: 10px;
      transform: rotate(-90deg);
    }
  }
}