.BrandingAdvantages{
  margin-top: 120px;
  margin-bottom: 220px;
  .Container{

  }
  .LeftColumn{
    padding-right: 60px;
  }
  .RightColumn{
    padding-left: 60px;
  }
  .Headding{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 52px;
    color: #393939;
    margin-bottom: 60px;
  }
  .Text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #8B8B8B;
    padding-bottom: 20px;
  }
  .GridList{
    .GridListItem{
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #8B8B8B;
      position: relative;
      padding-left: 20px;
      margin-top: 30px;
      &:before{
        content: '';
        display: inline-block;
        position: absolute;
        width: 10px;
        height: 10px;
        background: #0DF0FF;
        left: 0;
        top: 6px;
      }
    }
  }
}