.LastPost{
  margin-bottom: 120px;
  .LastPostBlock{
    padding-bottom: 120px;
    border-bottom: 1px solid #E9E9E9;
    @media(max-width: 768px) {
      border-bottom: none;
    }
  }
  .LastPostBox{

  }
  .NewsItem{
    padding: 30px;
    transition: all .5s;
    @media(max-width: 768px){
      padding: 0;
      margin-bottom: 60px;
    }
    .Image{
      max-width: 100%;
      margin-bottom: 30px;
    }
    .LinkToPost{
      text-decoration: none;
    }
    .PostTitle{
      font-family: Ubuntu;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 120%;
      color: #292525;
      margin-bottom: 15px;
    }
    .CategoryDate{
      font-family: Ubuntu;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #DADADA;
      margin-bottom: 30px;
    }
    .Description{
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 140%;
      color: #8B8B8B;
      margin-bottom: 30px;
    }
    .ViewsAndGo{
      display: flex;
      justify-content: space-between;
      .Views{
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #DADADA;
        display: inline-flex;
        align-items: center;
        span{
          margin-right: 10px;
        }
      }
      .Go{
        display: inline-block;
        width: 28px;
        height: 2px;
        background: #292525;
        position: relative;
        &:after{
          content: '';
          display: inline-block;
          width: 8px;
          height: 8px;
          border-top: 2px solid #292525;
          border-right: 2px solid #292525;
          position: absolute;
          right: 4px;
          top: -2px;
          transform: rotate(45deg);
          transform-origin: 100% 100%;
        }
      }
    }
  }
  .TagsBlock{
    flex-direction: column;
    padding-right: 80px;
    @media(max-width: 768px){
      padding-right: 0;
    }
  }
  .Tags{
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid #E9E9E9;
    padding: 40px;
    @media(max-width: 768px){
      padding: 40px 15px;
    }
  }
  .TagsHeadding{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #8B8B8B;
    margin-bottom: 40px;
  }
  .TagsButtons{

  }
  .TagsButton{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    background: #4C1C89;
    border: 1px solid #4C1C89;
    transition: all .4s ease;
    padding: 10px 15px;
    margin-right: 10px;
    margin-bottom: 15px;
    &:hover{
      color: #4C1C89;
      background: #FFFFFF;
    }
  }
}