.Technologies,.CmsFrameworks{
  margin-bottom: 120px;
  .Container{

  }
  .Headding{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 52px;
    color: #393939;
    margin-bottom: 120px;
    @media(max-width: 768px) {
      font-size: 28px;
      line-height: 120%;
    }
  }
  .TechnologiesList{
    &>:nth-child(2n-1){
      padding-right: 30px;
      @media(max-width: 768px){
        padding-right: 0;
      }
    }
    &>:nth-child(2n){
      padding-left: 30px;
      @media(max-width: 768px){
        padding-left: 0;
      }
    }
  }
  .TechnologiesItem{
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 100px;
    @media(max-width: 768px){
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 60px;
    }
  }
  .LogoImgBox{
    justify-content: flex-start;
    @media(max-width: 768px) {
      margin-right: 20px;
    }
  }
  .LogoImg{
    max-width: 60px;
    @media(max-width: 768px){
      max-width: 40px;
    }
  }
  .CaptionBox{
    margin-top: 40px;
    @media(max-width: 768px){
      margin-top: 20px;
    }
  }
  .Title{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 120%;
    color: #393939;
    @media(max-width: 768px){
      font-size: 22px;
      line-height: 140%;
    }
  }
  .Description{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #8B8B8B;
  }
}
.CmsFrameworks{
  @media(max-width: 768px){
    margin-bottom: 60px;
  }
  .Headding{
    @media(max-width: 768px) {
      font-size: 28px;
      line-height: 120%;
      margin-bottom: 80px;
    }
  }
  .TechnologiesList{
    & > .TechnologiesItem:nth-child(2n-1){
      padding-right: 30px;
      @media(max-width: 768px) {
        padding-right: 0;
      }
    }
    & > .TechnologiesItem:nth-child(2n){
      padding-left: 30px;
      @media(max-width: 768px){
        padding-left: 0;
      }
    }
  }
  .TechnologiesItem{
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 100px;
    @media(max-width: 768px){
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 60px;
    }
  }
  .LogoImgBox{
    justify-content: flex-start;
    @media(max-width: 768px) {
      margin-right: 20px;
    }
  }
  .TitleBox{

  }
  .CaptionBox{
    margin-top: 40px;
    @media(max-width: 768px){
      margin-top: 20px;
    }
  }
  .LogoImg{
    max-width: 60px;
    @media(max-width: 768px){
      max-width: 40px;
    }
  }
  .Title{
    margin-bottom: 0;
    @media(max-width: 768px) {
      font-size: 22px;
      line-height: 140%;
    }
  }
}