.Philosophy{
  margin-top: 120px;
  margin-bottom: 220px;
  @media(max-width: 768px){
    margin-bottom: 120px;
  }
  .Container{

  }
  .PhilosophyBox{
    @media(max-width: 768px){
      flex-direction: column-reverse;
    }
  }
  .LeftColumn{

  }
  .RightColumn{
    @media(max-width: 768px){
      margin-bottom: 40px;
    }
  }
  .Headding{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 52px;
    color: #393939;
    margin-bottom: 45px;
    @media(max-width: 768px){
      font-size: 28px;
      line-height: 120%;
    }
  }
  .Text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #8B8B8B;
    padding-bottom: 20px;
    padding-right: 20px;
  }
  .GridList{
    .GridListItem{
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #8B8B8B;
      position: relative;
      padding-left: 20px;
      margin-top: 30px;
      &:before{
        content: '';
        display: inline-block;
        position: absolute;
        width: 10px;
        height: 10px;
        background: #4C1C89;
        left: 0;
        top: 6px;
      }
    }
  }
  .PhilosophyTabsBox{

  }
  .TabPanel{
    max-width: 100%;
  }
  .TabPanelBox{
    max-width: 100%;
    @media(max-width: 768px){

    }
  }
  .TabPanelItem{
    max-width: 100%;
  }
  .PhilosophyImage{
    max-width: 100%;
  }
  .Tabs{
    background: #4C1C89;
    height: 80px;
    margin-left: 100px;
    align-items: center;
    @media(max-width: 768px){
      margin-left: auto;
    }
    .indicator{
      display: none;
    }
    .scrollButtons{
      color: #FFFFFF;
      position: absolute;
      bottom: 10px;
    }
    .flexContainer{
      padding-left: 5%;
      padding-right: 5%;
      justify-content: space-around;
    }
    .selected{
      color: #FFFFFF;
      opacity: 1;
    }
  }
  .Tab{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
    opacity: 0.5;
    min-width: auto;

  }
}