.LandingDesignCoast{
  margin-top: 120px;
  margin-bottom: 220px;
  .Container{

  }
  .TopRow{
    margin-bottom: 120px;
  }
  .BottomRow{
    justify-content: flex-end;
  }
  .Item{

  }
  .Headding{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 52px;
    color: #393939;
  }
  .Title{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    color: #292525;
    margin-bottom: 20px;
  }
  .Text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #8B8B8B;
  }
}