.RemarketingOrderInfo{
  margin-bottom: 220px;
  @media(max-width: 768px) {
    margin-bottom: 120px;
  }
  .Container{

  }
  .LeftColumn{
    justify-content: flex-start;
    padding-right: 80px;
    @media(max-width: 768px) {
      padding-right: 0;
    }
  }
  .RightColumn{
    align-items: center;
  }
  .Headding{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 52px;
    color: #393939;
    margin-bottom: 60px;
    @media(max-width: 768px) {
      font-size: 28px;
      line-height: 120%;
    }
  }
  .Text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #8B8B8B;
    margin-top: 20px;
    margin-bottom: 20px;
    @media(max-width: 768px) {
      margin-bottom: 20px;
      margin-top: 0;
    }
  }
  .RemarketingOrderInfoImg{
    max-width: 100%;
    @media(max-width: 768px) {
      margin-bottom: 40px;
    }
  }
  .GridList{
    margin-top: 220px;
    padding-left: 80px;
    @media(max-width: 768px){
      padding-left: 0;
      margin-top: 60px;
    }
    .GridListItem{
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 140%;
      color: #8B8B8B;
      position: relative;
      padding-left: 30px;
      margin-top: 30px;
      padding-right: 120px;
      min-height: 66px;
      display: flex;
      align-items: center;
      @media(max-width: 768px){
        padding-right: 0;
        margin-top: 60px;
      }
      &:before{
        content: '';
        display: inline-block;
        box-sizing: border-box;
        position: absolute;
        width: 10px;
        height: 100%;
        border: 1px solid #0DF0FF;
        left: 0;
        top: 0;
      }
    }
  }
}