.LastNews{
  margin-bottom: 220px;
  .Container{

  }
  .Headding{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 52px;
    color: #393939;
    margin-bottom: 120px;
  }
  .News{
    margin-bottom: 120px;
  }
  .NewsBox{

  }
  .NewsItem{
    transition: all .5s;
    &:hover{
      transform: translateY(-5px);
      box-shadow: 5px 20px 30px rgba(128, 128, 128, 0.15);
    }
    .Image{
      margin-bottom: 30px;
    }
    .LinkToPost{
      text-decoration: none;
    }
    .PostTitle{
      font-family: Ubuntu;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      color: #292525;
      margin-bottom: 10px;
    }
    .CategoryDate{
      font-family: Ubuntu;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #DADADA;
      margin-bottom: 20px;
    }
    .Description{
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #8B8B8B;
      margin-bottom: 35px;
    }
    .ViewsAndGo{
      display: flex;
      justify-content: space-between;
      .Views{
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #DADADA;
        display: inline-flex;
        align-items: center;
        span{
          margin-right: 10px;
        }
      }
      .Go{
        display: inline-block;
        width: 28px;
        height: 2px;
        background: #292525;
        position: relative;
        &:after{
          content: '';
          display: inline-block;
          width: 8px;
          height: 8px;
          border-top: 2px solid #292525;
          border-right: 2px solid #292525;
          position: absolute;
          right: 4px;
          top: -2px;
          transform: rotate(45deg);
          transform-origin: 100% 100%;
        }
      }
    }
  }
  .LastNewsBtn{
    display: flex;
    justify-content: center;
  }
}